html{
  background-color: lightblue;
}

.is-invalid{
  border: 1px solid red;
}

.error-message{
  margin: 5px 0;
  background: #f9d6d5;
  border: 1px solid #f7c6c5;
  border-radius: 0 8px 8px 0;
  color: #761b55;
  padding: 3px;
  width: 50%;
}

.alert-danger{
  text-align: center;
}

.P404B{
  font-size: 10vw;
  text-align: center;
  margin: 1em 0 0 0;
}

.P404S{
  font-size: 3vw;
  text-align: center;
}

.P404I{
  font-size: 3vw;
  text-align: center;
  margin: 0 0 10em 0;
}

.paginate-con{
  width: 30em;
  margin: 0 auto;
}

.header-text{
  text-align: center;
}

main{
  min-height: 100vh;
}
.NoGo{
  display: none;
}
/* ----------------------------------------------------------------- */
.master-post-container{
  margin: 0 auto;
  max-width: 80%;
}

.sub-post-con{
  border: solid 1px lightgray;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
  padding: 1em;
}

.post-des-con{
  max-height: 5em;
  overflow: hidden;
  text-align: justify;
}

.post-img{
  max-width: 20em;
  margin: 0 auto;
  display: block;
  margin-top: 3em;
}

.post-des-con-detail{

}

.post-date-con{
  float: left;
}

.post-user-con{
  float: right;
}
/* ------------------------------------------------------------------ */

.form-control{
  /* max-width: 70%; */
}

form{
margin: 0 auto;
width: 70%;
}

.form-button{
  height: 3em;
}
